<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors List</title>
</head>
<body>
    <h1>Authors List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">000</td>
            <td th:text="${author.firstName}">xxx</td>
            <td th:text="${author.lastName}">yyy</td>
        </tr>
    </table>
</body>
</html>